.container-testimonials {
  /* background-color: red; */
  margin: 50px 50px;
  text-align: center;
}
.testimonials {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.testimonial {
  width: 30%;
  box-shadow: 0px 0px 10px black;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 35px;
}
.testimonial img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.testimonial .author {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}
.caption {
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 20px;
}
